@use "../global/variables";

.header {
  --burger-menu-icon: url("/__spritemap#sprite-burger-button-view");
  --burger-menu-width: 16px;
  --burger-menu-height: 8px;
  --burger-menu-size: var(--burger-menu-width) var(--burger-menu-width);
  --burger-menu-overall: 136px;
  --burger-menu-after-x: 20px;

  position: relative;
}

.header__container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    right: auto;
    width: 1240px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

.header__logo-container {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 52px;
  height: 52px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    position: static;
    top: auto;
    left: auto;
  }
}

.header__nav-group {
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 650px;
  }

  @media (max-width: $pre-tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.header__button-menu {
  font-size: 14px;
  min-width: var(--burger-menu-overall);
  min-height: 54px;
  background-color: #ffffff;
  padding-top: 5px;
  padding-right: 51px;
  outline: 1px solid transparent;
  transition: min-width 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  &::before {
    position: absolute;
    top: -4px;
    left: -4px;
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 30px;
    opacity: 0;
    pointer-events: none;
    background-color: #02b6f2;
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  &:hover,
  &:focus-visible {
    &::before {
      animation: flickering 0.3s linear infinite;
    }

    .header__button-menu-decoration-inner::after {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  &:active {
    &::before {
      background-color: #ffd900;
    }

    .header__button-menu-decoration-inner::after {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 600px;
    min-height: 56px;
    padding-top: 0;
    padding-left: 5px;
  }
}

.header__button-menu-decoration-inner {
  width: 46px;
  height: 46px;

  &::after {
    right: var(--burger-menu-after-x);
    width: var(--burger-menu-width);
    height: var(--burger-menu-height);
    mask-image: var(--burger-menu-icon);
    mask-size: var(--burger-menu-size);
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav {
  position: absolute;
  top: 58px;
  left: -100%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $primary-color;
  border-radius: 16px;
  padding: 35px 25px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, left 0.3 ease, width 0.3s ease;
}

.header__nav--open {
  opacity: 1;
  visibility: visible;
}

.header__nav-link,
.header__nav-sub-link {
  display: block;
}

.header__nav-link--disabled,
.header__nav-sub-link--disabled {
  color: $disabled;
}

.header__nav-link,
.header__nav-button {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  width: fit-content;
  opacity: 0.7;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}

.header__nav-button {
  --transform-rotate-item: 0;

  position: relative;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &::after {
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%) rotate(var(--transform-rotate-item));
    content: "";
    width: 13px;
    height: 6px;
    mask-image: url("/__spritemap#sprite-arrow-select-view");
    mask-repeat: no-repeat;
    mask-size: 13px 6px;
    mask-position: center;
    background-color: #ffffff;
    transition: transform 0.3s ease;
  }

  &:disabled {
    color: $disabled;
    pointer-events: none;
  }
}

.header__nav-button--current {
  opacity: 1;
}

.header__nav-sub-link {
  text-decoration: none;
  color: #ffffff;
  width: fit-content;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus-visible {
    opacity: 0.9;
  }
}

.header__nav-sub-link--current {
  opacity: 0.9;
}

.header__nav-list ul {
  text-transform: none;
  font-weight: 400;
}

.header__nav-sub-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 0;
  list-style: none;
  overflow: hidden;
  visibility: hidden;
  padding: 0;
  padding-left: 16px;
  margin: 0;
  transition: height 0.3s ease, padding 0.3s ease;
}

// Открытие бургер меню

.header:has(.header__nav--open) {
  --burger-menu-icon: url("/__spritemap#sprite-cross-view");
  --burger-menu-width: 18px;
  --burger-menu-height: 18px;
  --burger-menu-overall: 290px;
  --burger-menu-after-x: 18px;

  .header__logo-container {
    width: 0;
    height: 0;
    transition: width 0.3s ease, height 0.3s ease;
  }

  .header__nav {
    width: var(--burger-menu-overall);
    left: auto;
  }

  .header__nav-group {
    z-index: 3;
  }

  .header__button-menu {
    background-color: $primary-color;
    color: #ffffff;
  }

  .header__button-menu::before {
    background-color: #ffd900;
  }

  .header__button-menu:active::before {
    background-color: #02b6f2;
  }

  .header__button-menu-decoration-inner {
    border-radius: 30px;
    background-color: #ffffff;
  }

  .header__button-menu-decoration-inner::after {
    background-color: $primary-color;
  }

  @media (min-width: $tablet-width) {
    --burger-menu-overall: 286px;

    .header__logo-container {
      width: 52px;
      height: 52px;
    }
  }
}
